In [106]:
import pandas as pd
import math
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/christineyi/anaconda/lib/python3.6/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['test']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [107]:
df=pd.read_csv("MN.csv",dtype='unicode')
#get rid of rows with all data empty
df=df.dropna(axis=0,how='all')

In [108]:
#convert some columns to integers
df=df[['Borough','SchoolDist','Council','ZipCode','PolicePrct','HealthArea','Address','ZoneDist1','ZoneDist2','ZoneDist3','ZoneDist4']]

In [109]:
#get rid of rows with empty zipcode
df=df[df['ZipCode'].isnull() == False]
df.head(20)

,Borough,SchoolDist,Council,ZipCode,PolicePrct,HealthArea,Address,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4
0,MN,2,1,10004,1,8100,1 GOVERNORS ISLAND,R3-2,NaN,NaN,NaN
1,MN,2,1,10004,1,8200,1 LIBERTY ISLAND,R3-2,NaN,NaN,NaN
2,MN,2,1,10004,1,8200,1 ELLIS ISLAND,R3-2,NaN,NaN,NaN
3,MN,2,1,10004,1,NaN,JOE DIMAGGIO HIGHWAY,ZNA,NaN,NaN,NaN
4,MN,2,1,10004,1,NaN,JOE DIMAGGIO HIGHWAY,ZNA,NaN,NaN,NaN
5,MN,2,1,10004,1,7700,MARGINAL STREET,M1-4,NaN,NaN,NaN
6,MN,2,1,10004,1,7700,10 SOUTH STREET,C4-6,NaN,NaN,NaN
7,MN,2,1,10004,1,7700,MARGINAL STREET,C4-6,NaN,NaN,NaN
8,MN,2,1,10004,1,7700,1 PIER 6,C4-6,NaN,NaN,NaN
9,MN,2,1,10004,1,9000,10 BATTERY PARK,PARK,NaN,NaN,NaN
10,MN,2,1,10004,1,7700,PETER MINUIT PLAZA,PARK,NaN,NaN,NaN
11,MN,2,1,10004,1,7700,PETER MINUIT PLAZA,PARK,NaN,NaN,NaN
13,MN,2,1,10004,1,9000,1 SOUTH STREET,M1-4,NaN,NaN,NaN
14,MN,2,1,10004,1,7700,1 WATER STREET,C5-5,NaN,NaN,NaN
15,MN,2,1,10004,1,7700,115 BROAD STREET,C5-5,NaN,NaN,NaN
16,MN,2,1,10004,1,7700,125 BROAD STREET,C5-5,NaN,NaN,NaN
17,MN,2,1,10004,1,7700,24 SOUTH STREET,PARK,NaN,NaN,NaN
18,MN,2,1,10004,1,7700,30 WATER STREET,C5-5,NaN,NaN,NaN
19,MN,2,1,10004,1,7700,28 WATER STREET,C5-5,NaN,NaN,NaN
20,MN,2,1,10004,1,7700,26 WATER STREET,C5-5,NaN,NaN,NaN

In [110]:
#get rid of rows with empty address
df=df[df['Address'].isnull() == False]
df.head(20)

,Borough,SchoolDist,Council,ZipCode,PolicePrct,HealthArea,Address,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4
0,MN,2,1,10004,1,8100,1 GOVERNORS ISLAND,R3-2,NaN,NaN,NaN
1,MN,2,1,10004,1,8200,1 LIBERTY ISLAND,R3-2,NaN,NaN,NaN
2,MN,2,1,10004,1,8200,1 ELLIS ISLAND,R3-2,NaN,NaN,NaN
3,MN,2,1,10004,1,NaN,JOE DIMAGGIO HIGHWAY,ZNA,NaN,NaN,NaN
4,MN,2,1,10004,1,NaN,JOE DIMAGGIO HIGHWAY,ZNA,NaN,NaN,NaN
5,MN,2,1,10004,1,7700,MARGINAL STREET,M1-4,NaN,NaN,NaN
6,MN,2,1,10004,1,7700,10 SOUTH STREET,C4-6,NaN,NaN,NaN
7,MN,2,1,10004,1,7700,MARGINAL STREET,C4-6,NaN,NaN,NaN
8,MN,2,1,10004,1,7700,1 PIER 6,C4-6,NaN,NaN,NaN
9,MN,2,1,10004,1,9000,10 BATTERY PARK,PARK,NaN,NaN,NaN
10,MN,2,1,10004,1,7700,PETER MINUIT PLAZA,PARK,NaN,NaN,NaN
11,MN,2,1,10004,1,7700,PETER MINUIT PLAZA,PARK,NaN,NaN,NaN
13,MN,2,1,10004,1,9000,1 SOUTH STREET,M1-4,NaN,NaN,NaN
14,MN,2,1,10004,1,7700,1 WATER STREET,C5-5,NaN,NaN,NaN
15,MN,2,1,10004,1,7700,115 BROAD STREET,C5-5,NaN,NaN,NaN
16,MN,2,1,10004,1,7700,125 BROAD STREET,C5-5,NaN,NaN,NaN
17,MN,2,1,10004,1,7700,24 SOUTH STREET,PARK,NaN,NaN,NaN
18,MN,2,1,10004,1,7700,30 WATER STREET,C5-5,NaN,NaN,NaN
19,MN,2,1,10004,1,7700,28 WATER STREET,C5-5,NaN,NaN,NaN
20,MN,2,1,10004,1,7700,26 WATER STREET,C5-5,NaN,NaN,NaN

In [120]:
#list out central harlem column
A={10026,10027,10030,10037,10039}

list1=[]
for i in range(len(df["ZipCode"])):
    if i in A: 
        list1.append(1)
    else:
        list1.append(0)

In [ ]:
#df['Central Harlem']=list1
df.insert(loc = 11, column = 'Central Harlem', value = list1)

In [126]:

df['Central Harlem'][i]=1

0

In [ ]:
#list out chelsea and clinton col
B={10001,10011,10018,10019,10020,10036}

list2=[]
for i in range(len(df["ZipCode"])):
    if i in B: 
        list2.append(1)
    else:
        list2.append(0)
df.insert(loc = 12, column = 'Chelsea and Clinton', value = list2)

In [ ]:
#list out East Harlem
C={10029, 10035}

list3=[]
for i in range(len(df["ZipCode"])):
    if i in C: 
        list3.append(1)
    else:
        list3.append(0)
df.insert(loc = 13, column = 'East Harlem', value = list3)

In [136]:
#list out Gramercy Park and Murray Hill
D={10010, 10016, 10017, 10022}

list4=[]
for i in range(len(df["ZipCode"])):
    if i in D: 
        list4.append(1)
    else:
        list4.append(0)
df.insert(loc = 14, column = 'Gramercy Park and Murray Hill', value = list4)

In [ ]:
#list out Greenwich Village and Soho
E={10012, 10013, 10014}

list5=[]
for i in range(len(df["ZipCode"])):
    if i in E: 
        list5.append(1)
    else:
        list5.append(0)
df.insert(loc = 15, column = 'Greenwich Village and Soho', value = list5)

In [137]:
#list out Lower Manhattan
F={10004, 10005, 10006, 10007, 10038, 10280}

list6=[]
for i in range(len(df["ZipCode"])):
    if i in F: 
        list6.append(1)
    else:
        list6.append(0)
df.insert(loc = 16, column = 'Lower Manhattan', value = list6)

IndexError: index 16 is out of bounds for axis 0 with size 15

In [ ]:
#list out East Harlem
C={10029, 10035}

list3=[]
for i in range(len(df["ZipCode"])):
    if i in C: 
        list3.append(1)
    else:
        list3.append(0)
df.insert(loc = 13, column = 'East Harlem', value = list3)

In [99]:
#previous way of grouping zip code by using df1.csv

#df1=pd.read_csv("manhattan.csv",header=None)
#zip_to_neighborhood = {}
#for i in range(len(df1[0])):
#    if math.isnan(df1[1][i]) == False:
#       zip_to_neighborhood[int(df1[1][i])] = df1[0][i]